@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Bungee+Spice&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.brand {
  font-family: "Bungee Spice", cursive;
}

#headline-berita .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
}

footer {
  margin-top: 50vh !important;
}
